{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 125,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": true
}
