*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: sans-serif;
	-webkit-overflow-scrolling: touch;
}

div {
	margin: 0;
	padding: 0;
}

html,
body,
#__next {
	height: 100%;
	width: 100%;
}
